<div class="uploader-root">

  <form [formGroup]="newPassFromGroup"
        (ngSubmit)="onSubmitChangePassword(newPassFromGroup.value)" class="form">

    <mat-form-field style="margin-bottom: 13px">
      <mat-label>Password</mat-label>
      <img class="mat-input-prefix" src="../../../assets/images/ic-feather-lock.svg" matPrefix>
      <input matInput formControlName="password" type="password" #oldPassword>
    </mat-form-field>

    <button class="submit-button" type="submit" mat-raised-button
            [disabled]="!newPassFromGroup.valid && newPassFromGroup.touched">start
    </button>

  </form>
</div>
