<div class="welcome-container">

  <div class="quote-container">
    „I know that I know nothig” <div>Socrates</div>
  </div>

  <div class="login-register-container">
    <mat-tab-group>
      <mat-tab label="Sign In">

        <form [formGroup]="loginFromGroup" (ngSubmit)="onSubmit(loginFromGroup.value)" class="form">

          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            <mat-error>
              {{ getErrorEmailLogin() }}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password">
            <mat-error>
              {{ getErrorPasswordLogin() }}
            </mat-error>
          </mat-form-field>

          <button class="submit-button" type="submit" mat-raised-button
                  [disabled]="!loginFromGroup.valid && loginFromGroup.touched">Sign in
          </button>

        </form>

        <div class="divider-holder">
          <p>or</p>
          <div></div>
        </div>
        <p>facebook and google buttons here</p>
      </mat-tab>
      <mat-tab label="Sign Up">


        <form [formGroup]="registerFormGroup" (ngSubmit)="onSubmit(registerFormGroup.value)" class="form">

          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            <mat-error>
              {{ getErrorEmailRegister() }}
            </mat-error>
          </mat-form-field>

          <mat-form-field style="margin-bottom: 13px">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" #passInput>
            <mat-hint>Choose a password of at least eight characters, one uppercase letter and one number</mat-hint>
            <mat-error>
              {{ getErrorPasswordRegister() }}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Re-enter Password</mat-label>
            <input matInput formControlName="repassword" type="password">
            <mat-error>
              {{ getErrorRePasswordRegister() }}
            </mat-error>
          </mat-form-field>


          <button class="submit-button" type="submit" mat-raised-button
                  [disabled]="!registerFormGroup.valid && registerFormGroup.touched">Sign up
          </button>

        </form>



      </mat-tab>
    </mat-tab-group>
  </div>

</div>
