*{
  font-family: 'Baloo Tamma 2', cursive;
}

.welcome-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
  justify-content: space-between;
}

.form-panel, .animation-panel {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.animation-panel {
  align-items: start;
  position: relative;
}

#animation-bg {
  width: 80%;
  position: absolute;
  animation: appear-animation 800ms ease-out;
}

@keyframes appear-animation {
  0% {
    opacity: .0;
  }
  100% {
    opacity: 1;
  }
}

#animation-left {
  width: 19%;
  position: absolute;
  margin-left: 3%;
  margin-top: 3%;
  animation: anim-rtl 800ms ease-out;
}

@keyframes anim-rtl {
  0% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0);
  }
}

#animation-bottom {
  width: 20%;
  position: absolute;
  margin-left: 22%;
  margin-top: 10%;
  animation: anim-btt 800ms ease-out, anim-float-bottom 5000ms ease-in-out infinite 800ms;
}

@keyframes anim-btt {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes anim-float-bottom {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

#animation-top {
  width: 23%;
  position: absolute;
  margin-left: 46%;
  margin-top: -5%;
  animation: anim-ttb 800ms ease-out, anim-float-top 5000ms ease-in-out infinite 800ms;
}

@keyframes anim-ttb {
  0% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes anim-float-top {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

#animation-right {
  width: 34%;
  position: absolute;
  margin-left: 49%;
  margin-top: 13%;
  animation: anim-ltr 800ms ease-out;
}

@keyframes anim-ltr {
  0% {
    transform: translateX(30px);
  }
  100% {
    transform: translateX(0);
  }
}

h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  line-height: 40px;
  letter-spacing: 3.36px;
  color: var(--color-header-soft);
}

form {
  padding: 5px;
  display: flex;
  width: 35%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 10px;
}

.mat-form-field {
  width: 100%;
  font-weight: 500;
  color: #3D3D3D80;
}

.mat-error {
  color: #EF6351;
}

.mat-input-prefix{
  width: 16px;
  margin-left: 5px;
  margin-right: 5px;
  transform: translateY(2px);
}

@media (max-width: 1140px) {
  .welcome-container {
    height: fit-content;
    overflow-y: scroll;
    justify-content: center;
    min-height: 100%;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .welcome-container::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
  .animation-panel {
    display: none;
  }
  .form-panel {
    width: 100%;
  }
}

@media (max-width: 540px) {
  form {
    width: 65%;
  }
}

.submit-button {
  width: 80%;
  border: solid 0;
  padding: 5px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
  color: #FCFCFC;
  border-radius: 40px;
  background-color: #1B73F0;
  outline: none;
}

.link-text{
  font-weight: 600;
  font-size: 26px/36px;
  letter-spacing: 0;
  color: #3D3D3D80;
  text-decoration: none;
  text-align: center;
}

.link-text a{
  white-space: nowrap;
  color: #001A49;
  text-decoration: none;
  cursor: pointer;
}

p {
  margin: 5px 0;
}

#social-container{

}

.social{
  width: 30px;
  cursor: pointer;
  margin: 5px 10px 10px;
}
