dist: trusty
sudo: false

language: node_js
node_js:
  - '12.13.0'

addons:
  chrome: stable

notifications:
  slack: olympoworkspace:T5nXKCY75r2oTMgwT96NfpoQ

cache:
  directories:
    - ./node_modules

install:
  - npm install

script:
  - npm run test -- --watch=false --no-progress --browsers=ChromeHeadlessNoSandbox
