@media (max-width: 1000px) {

  .right-panel {
    display: none !important;
  }

  .content {
    width: 100% !important;
  }

}

.left-panel{
  width: calc(100% - 350px);
}

.right-panel {
  position: sticky;
  background-color: red;
  top: 20px;
  left: 0;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  padding-top: 50px;
}

.content {
  width: 85%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

#scroll-up {
  position: sticky;
  top: 80vh;
  transform: translateX(10vw);
  width: 40px;
  height: 40px;
  z-index: 999;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: #aaa 1px 1px 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}

#scroll-up:hover {
  transform: translateY(-3px) translateX(10vw);
  transition: all 500ms ease-in-out;
}
