<div class="contest-container">
  <div class="contest-content">
    <div [hidden]="isSmallScreen && isFilterOpen" class="left-panel">
      <div [hidden]="isFetching" class="contest-details">
        <div class="head-section">
          <div class="avatar-container">
            <img [src]="contest.imageUrl">
            <div class="avatar-change" (click)="openAvatarChange()"> Change</div>
          </div>
          <div class="title-section">
            <mat-form-field appearance="none">
              <mat-label>TITLE</mat-label>
              <input (change)="contest.title = $event.target.value"
                     matInput autocomplete="off">
            </mat-form-field>
          </div>
        </div>
        <div class="vertical-flex" style="width: 100%; ">
          <h2 class="desc-header">contest description</h2>
          <app-editor [(data)]="contest.body"
                      [placeholder]="'Add contest description...'"
            [toolbar]="isSmallScreen? smallToolbar : defaultToolbar" class="desc-editor"></app-editor>
        </div>
        <div [ngClass]="isSmallScreen? 'vertical-flex' : 'horizontal-flex'"
             style="width: 100%">
          <mat-form-field class="datetime-picker">
            <input matInput [ngxMatDatetimePicker]="picker" placeholder="Deadline"
                   (dateChange)="contest.registrationEnd = $event.value.valueOf()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker>
            </ngx-mat-datetime-picker>
          </mat-form-field>
          <mat-form-field class="datetime-picker">
            <mat-label>Category</mat-label>
            <mat-select multiple
                        (selectionChange)="contest.subjectIds = $event.value">
              <mat-option *ngFor="let category of categoryService.categories" [value]="category.id - 1">
                <div class="mat-option-prefix" style="background-color: {{getColor(category.colorId)}}"
                     matPrefix></div>
                {{category.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div [ngClass]="isSmallScreen? 'vertical-flex' : 'horizontal-flex'"
             class="contest-bottom-buttons">
          <div class="status-container">
            <div style="background-color: {{getStatusColor()}}" class="status-color"></div>
            {{contest.status}}
          </div>

          <div [ngClass]="isSmallScreen? 'vertical-flex' : 'horizontal-flex'" style="width: auto">
            <button (click)="cancelContest()"
                    [ngClass]="isSmallScreen? 'sm-btn-margin' : ''"
                    [hidden]="contest.status === 'COMPLETED' || contest.status === 'CANCELLED'" class="main-action-btn"
                    style="background-color: #EF6351;">
              cancel
            </button>
            <button (click)="mainAction()" [hidden]="contest.status === 'COMPLETED' || contest.status === 'CANCELLED'"
                    class="main-action-btn"
                    style="background-color: {{getMainBtnStatusColor()}}">
              {{getMainBtnStatusText()}}
            </button>
          </div>

        </div>
        <div class="subject-container">
          <app-subject-tag *ngFor="let subject of getFirstSubjects()" [subject]="categoryService.categories[subject]"
                           class="subject" [mode]="this.isSmallScreen? 'sm' : 'lg'"></app-subject-tag>
          <app-subject-tag *ngIf="contest.subjectIds !== undefined && contest.subjectIds.length > 2" [isMoreTag]="true"
                           [moreSubjects]="getMoreSubjects()"
                           [mode]="this.isSmallScreen? 'sm' : 'lg'"></app-subject-tag>
        </div>
      </div>
      <div [hidden]="!isFetching" class="skeleton">
        <div class="horizontal-flex">
          <div class="skeleton-circle"></div>
          <div class="skeleton-rect"></div>
        </div>
        <div class="skeleton-rect" style="width: 70%;"></div>
        <div class="skeleton-rect"></div>
      </div>
    </div>
    <div [hidden]="isSmallScreen && !isFilterOpen" class="right-panel">
      <button class="create-button" (click)="addEmptyRound()"> add round</button>
      <div class="round-container" *ngFor="let round of contest.rounds; index as i">
        <h2> round {{i + 1}}</h2>
        <ng-switchery [(ngModel)]="round.strictMode" onLabel="enable strict mode"
                      class="switch"></ng-switchery>
        <ng-switchery [(ngModel)]="round.isOpen" onLabel="closed" class="switch"></ng-switchery>
        <mat-form-field>
          <mat-label>Duration (min)</mat-label>
          <img class="mat-input-prefix" src="../../../assets/images/ic-material-timer.svg" matPrefix>
          <input value="{{getOrDefault(round.duration, -1,  '')}}"
                 (change)="round.duration = $event.target.value.length !== 0 ? $event.target.value : -1"
                 matInput autocomplete="off" (keypress)="numberOnly($event)">
        </mat-form-field>
        <h2> passing criterias</h2>
        <div class="switch-container">
          <ng-switchery [value]="!getIsEqual(round.placeToPass, -1)"
                        (change)="onPlaceSwitchChange($event.target.value, i)" class="switch"></ng-switchery>
          <mat-form-field>
            <mat-label>Place</mat-label>
            <img class="mat-input-prefix" src="../../../assets/images/ic-ionic-md-stats.svg" matPrefix>
            <input [value]="getOrDefault(round.placeToPass, -1, '')"
                   #placeInput matInput autocomplete="off" (keypress)="numberOnly($event)">
          </mat-form-field>
        </div>
        <div class="switch-container">
          <ng-switchery [value]="round.pointsToPass !== -1" (change)="onPointsSwitchChange($event.target.value, i)"
                        class="switch"></ng-switchery>
          <mat-form-field>
            <mat-label>Points</mat-label>
            <img class="mat-input-prefix" src="../../../assets/images/ic-material-grade.svg" matPrefix>
            <input [value]="getOrDefault(round.pointsToPass, -1,  '')"
                   #pointsInput matInput autocomplete="off" (keypress)="numberOnly($event)">
          </mat-form-field>
        </div>
        <mat-form-field class="datetime-picker">
          <input value="{{getOrDefault(round.startTime, -1, '')}}"
                 matInput [ngxMatDatetimePicker]="picker" placeholder="Start Time"
                 (dateChange)="round.startTime = $event.value.valueOf()">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker>
          </ngx-mat-datetime-picker>
        </mat-form-field>
        <div [ngClass]="isSmallScreen? 'vertical-flex round-btn-sm' : 'horizontal-flex'" class="round-buttons">
          <button (click)="contest.rounds.splice(i, 1)" class="round-btn" style="margin-top: 5px;"> remove</button>
          <div class="vertical-flex">
            <button class="questions-btn round-btn "> edit questions</button>
            <p class="questions-container">{{round.questions.length}} Question(s)</p>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>


