<div class="contest-container">
  <div class="contest-content">
    <div [hidden]="isSmallScreen && isFilterOpen" class="left-panel">
      <div [hidden]="isFetching" class="contest-details">
        <div class="head-section">
          <div class="avatar-container">
            <img [src]="contest ? contest.imageUrl : '../../../assets/images/default-avatar.png'">
            <div class="avatar-change" [hidden]="openedContestState !== 'edit'" (click)="openAvatarChange()"> Change
            </div>
          </div>
          <div class="title-section">
            <mat-form-field appearance="none">
              <mat-label>TITLE</mat-label>
              <input [value]="contest? contest.title : ''" (change)="contest.title = $event.target.value"
                     matInput autocomplete="off" [disabled]="openedContestState !== 'edit'">
            </mat-form-field>
          </div>
        </div>
        <div class="vertical-flex" style="width: 100%;">
          <h2 class="desc-header">contest description</h2>
          <app-editor [isEditable]="openedContestState === 'edit'"
                      *ngIf="contest" [(data)]="contest.body"
                      [placeholder]="'Add contest description...'"
                      [toolbar]="isSmallScreen? smallToolbar : defaultToolbar" class="desc-editor"></app-editor>
        </div>
        <div [ngClass]="isSmallScreen? 'vertical-flex' : 'horizontal-flex'"
             style="width: 100%">
          <mat-form-field class="datetime-picker">
            <input [disabled]="openedContestState !== 'edit'"
                   matInput [ngxMatDatetimePicker]="picker" placeholder="Deadline"
                   (dateChange)="setRegisterDate($event.value.valueOf())">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker>
            </ngx-mat-datetime-picker>
          </mat-form-field>
          <mat-form-field *ngIf="contest && openedContestState === 'edit'" class="datetime-picker">
            <mat-label>Category</mat-label>
            <mat-select multiple [(value)]="contest.subjectIds">
              <mat-option *ngFor="let category of categoryService.categories" [value]="category.id">
                <div class="mat-option-prefix" style="background-color: {{getColor(category.colorId)}}"
                     matPrefix></div>
                {{category.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div [ngClass]="isSmallScreen? 'vertical-flex' : 'horizontal-flex'"
             class="contest-bottom-buttons">
          <div class="status-container">
            <div style="background-color: {{getStatusColor()}}" class="status-color"></div>
            {{contest ? contest.status : ''}}
          </div>

          <div [ngClass]="isSmallScreen? 'vertical-flex' : 'horizontal-flex'" style="width: auto">
            <button (click)="saveContest()" #saveBtn
                    [ngClass]="isSmallScreen? 'sm-btn-margin' : ''"
                    [hidden]="!contest || contest.status !== 'UNPUBLISHED' " class="main-action-btn save-btn"
                    style="background-color: #fff;">
              <img src="../../../assets/images/ic-material-save.svg">
            </button>
            <button (click)="cancelContest()"
                    [ngClass]="isSmallScreen? 'sm-btn-margin' : ''"
                    [hidden]="!contest || contest.status === 'COMPLETED'
                    || contest.status === 'CANCELLED'
                    || contest.createUser !== configService.currUser.userId" class="main-action-btn"
                    style="background-color: #EF6351;">
              cancel
            </button>
            <button (click)="mainAction()"
                    [hidden]="!contest || !((contest.status === 'REGISTRATION ON' && !contest.isRegistered) || contest.status === 'UNPUBLISHED') || rounds.length === 0"
                    class="main-action-btn"
                    style="background-color: {{getMainBtnStatusColor()}}">
              {{getMainBtnStatusText()}}
            </button>
          </div>

        </div>
        <div class="subject-container">
          <app-subject-tag *ngFor="let subject of getFirstSubjects()"
                           [subject]="categoryService.getCategoryById(subject)"
                           class="subject" [mode]="this.isSmallScreen? 'sm' : 'lg'"></app-subject-tag>
          <app-subject-tag *ngIf="contest && contest.subjectIds && contest.subjectIds.length > 2" [isMoreTag]="true"
                           [moreSubjects]="getMoreSubjects()"
                           [mode]="this.isSmallScreen? 'sm' : 'lg'"></app-subject-tag>
        </div>
      </div>
      <div [hidden]="!isFetching" class="skeleton">
        <div class="horizontal-flex">
          <div class="skeleton-circle"></div>
          <div class="skeleton-rect"></div>
        </div>
        <div class="skeleton-rect" style="width: 70%;"></div>
        <div class="skeleton-rect"></div>
      </div>
    </div>
    <div [hidden]="isSmallScreen && !isFilterOpen" class="right-panel">
      <div class="horizontal-flex round-buttons-top" [hidden]="openedContestState !== 'edit'">
        <button class="create-button" (click)="addEmptyRound()"> add</button>
        <button class="create-button save-btn" (click)="saveRound()" style="background-color: #fff; color: #6A6A6A"
                #saveRounds> save
        </button>
      </div>
      <h2 class="desc-header">rounds</h2>
      <div class="round-container" *ngFor="let round of rounds; index as i">
        <h2> round {{i + 1}}</h2>

        <div class="switch-container" [hidden]="openedContestState !== 'edit'">
          <ng-switchery [value]="round.password !== null && round.password !== undefined && round.password.length > 0"
                        (change)="onPassSwitchChange($event.target.value, i)"
                        class="switch"></ng-switchery>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <mat-icon style="cursor: pointer" matSuffix
                      (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <input [(ngModel)]="round.password"
                   [type]="hide ? 'password' : 'text'"
                   [disabled]="openedContestState !== 'edit'"
                   (change)="onPassChange(i, $event.target.value)"
                   #pointsInput matInput autocomplete="off">
          </mat-form-field>
        </div>

        <mat-form-field>
          <mat-label>Duration (min)</mat-label>
          <img class="mat-input-prefix" src="../../../assets/images/ic-material-timer.svg" matPrefix>
          <input value="{{getOrDefault(round.duration, -1,  '')}}"
                 (change)="round.duration = $event.target.value.length !== 0 ? $event.target.value : -1"
                 [disabled]="openedContestState !== 'edit'"
                 type="number"
                 matInput autocomplete="off" (keypress)="numberOnly($event)">
        </mat-form-field>
        <h2> passing criterias</h2>
        <div class="switch-container">
          <ng-switchery [value]="round.placeToPass !== null && round.placeToPass !== undefined"
                        #placeSwitch
                        [hidden]="openedContestState !== 'edit'"
                        (change)="onPlaceSwitchChange($event.target.value, i)" class="switch"></ng-switchery>
          <mat-form-field
            [hidden]="openedContestState !== 'edit' && !round.placeToPass">
            <mat-label>Place</mat-label>
            <img class="mat-input-prefix" src="../../../assets/images/ic-ionic-md-stats.svg" matPrefix>
            <input [(ngModel)]="round.placeToPass"
                   [disabled]="openedContestState !== 'edit'"
                   type="number"
                   #placeInput matInput autocomplete="off" (keypress)="numberOnly($event)">
          </mat-form-field>
        </div>
        <div class="switch-container">
          <ng-switchery [value]="round.pointsToPass !== null && round.pointsToPass !== undefined"
                        [hidden]="openedContestState !== 'edit'"
                        (change)="onPointsSwitchChange($event.target.value, i)"
                        class="switch" #pointsSwitch></ng-switchery>
          <mat-form-field
            [hidden]="openedContestState !== 'edit' && !round.pointsToPass">
            <mat-label>Points</mat-label>
            <img class="mat-input-prefix" src="../../../assets/images/ic-material-grade.svg" matPrefix>
            <input [(ngModel)]="round.pointsToPass"
                   [disabled]="openedContestState !== 'edit'"
                   type="number"
                   #pointsInput matInput autocomplete="off" (keypress)="numberOnly($event)">
          </mat-form-field>
        </div>
        <mat-form-field class="datetime-picker">
          <input [value]="getStartDate(i)"
                 [disabled]="openedContestState !== 'edit'"
                 matInput [ngxMatDatetimePicker]="picker" placeholder="Start Time"
                 (dateChange)="setStartTime(i, $event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker>
          </ngx-mat-datetime-picker>
        </mat-form-field>
        <div [ngClass]="isSmallScreen? 'vertical-flex round-btn-sm' : 'horizontal-flex'" class="round-buttons">
          <button (click)="rounds.splice(i, 1)" class="round-btn" style="margin-top: 5px;"
                  [hidden]="openedContestState !== 'edit'"> remove
          </button>
          <div class="vertical-flex" [hidden]="openedContestState !== 'edit'">
            <button class="questions-btn round-btn "
                    [routerLink]="['/question']" [queryParams]="{id: round.id}"
            > edit questions
            </button>
          </div>
          <div class="vertical-flex" [hidden]="openedContestState === 'edit' || !contest.isRegistered"
               style="width: 100%">
            <button class="questions-btn round-btn "
                    [routerLink]="['/leaderboard']" [queryParams]="{id: round.id}"
                    [hidden]="round.status !== 'COMPLETED'"
            > results
            </button>
            <button class="questions-btn round-btn "
                    [routerLink]="['/live']" [queryParams]="{id: round.id, closed: round.isClosed}"
                    [hidden]="round.status !== 'ONGOING'"
            > enter
            </button>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>


