@media (max-width: 1200px) {

  .right-panel {
    position: relative;
    margin: 0 calc(50% - 125px);
    max-height: none !important;
  }

  .contest-content {
    width: 100% !important;
  }

  .left-panel {
    width: 80% !important;
    margin-left: 10%;
    margin-right: 10%;
  }

  .round-container h2 {
    font-size: 16px !important;
    font-weight: 600;
    letter-spacing: 2px !important;
  }

  .switch-container mat-form-field {
    width: calc(100% - 70px) !important;
  }

  .subject {
    margin-left: 10px !important;
  }

  .left-panel {
    width: 80% !important;
    margin-left: 10%;
    margin-right: 10%;
  }

  .head-section {
    flex-direction: column!important;
    height: auto!important;
  }

  .contest-details {
    padding: 10px;
  }

  .title-section{
    margin:0!important;
  }

  .title-section mat-label {
    font-size: 16px!important;
    letter-spacing: 3px!important;
  }

  .title-section input {
    font-size: 18px!important;
  }

  .desc-header {
    font-size: 14px!important;
  }

  .datetime-picker {
    margin:0!important;
  }

  .main-action-btn {
    margin-left: 0!important;
  }

}

.subject {
  margin-left: 20px;
}

.left-panel {
  width: calc(100% - 450px);
}

.right-panel {
  position: sticky;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: calc(100vh - 115px);
  top: 50px;
  padding-bottom: 100px;
  right: 0;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.right-panel::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.contest-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  padding-top: 50px;
}

.contest-content {
  width: 85%;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

#scroll-up {
  position: sticky;
  top: 80vh;
  transform: translateX(10vw);
  width: 40px;
  height: 40px;
  z-index: 999;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: #aaa 1px 1px 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}

#scroll-up:hover {
  transform: translateY(-3px) translateX(10vw);
  transition: all 500ms ease-in-out;
}

.create-button {
  border-radius: 10px;
  background-color: #3CACFE;
  color: #fff;
  box-shadow: #aaa 1px 1px 3px;
  width: 100%;
  border: none;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 4px;
  font-weight: 700;
  font-family: 'Baloo Tamma 2', cursive;
  line-height: 20px;
  outline: none;
  padding: 10px 8px 8px;
  cursor: pointer;
  margin-bottom: 20px;
}

.create-button:hover {
  background-color: #39a9f6;
  box-shadow: #aaa 1px 1px 4px;
  transition: all 200ms linear;
}

.switch-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.switch-container ng-switchery {
  transform: translateY(5px);
}

.switch {
  padding: 0 10px 0 3px;
}

mat-label {
  font-family: 'Baloo Tamma 2', cursive;
}

mat-form-field {

  width: 100%;
}

mwl-calendar-month-view {
  width: 100%;
}

h3 {
  font-size: 18px;
  margin: 0;
  text-align: center;
}

.right-panel-calendar-controller {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;

}

.calendar-controller-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  cursor: pointer;
  width: 15%;
}

.calendar-controller-arrow p {
  height: 100%;
}

.calendar-title {
  width: 70%;
}

.cal-cell {
  font-size: 14px;
}

.event-container {
  border: solid 1px #b7b7b7;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  padding: 14px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.event-container h2 {
  width: 100%;
  margin: 0 0 10px;
  letter-spacing: 1px;
  color: var(--color-header-h1);
  font-size: 16px;
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.subject-container {
  width: 50px;
  height: 10px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate3d(-20px, -5px, 0);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
}

.event-container .subject {
  margin-left: 10px;
}

.event-data {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
}

.user-logo {
  width: 50px;
  height: 50px;
  border-radius: 35px;
  border: solid #707070 1px;
  margin-right: 15px;
}


.event-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}

.event-item p {
  font-size: 12px;
  color: var(--color-text-casual);
  font-weight: 500;
  margin: 4px 0 0;
}

.event-item img {
  width: 16px;
  margin-right: 8px;
}

.event-items {
  flex-grow: 1;
  min-height: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.skeleton {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.skeleton-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #eee;
  margin: 10px;
}

.horizontal-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 5px;
  width: 100%;
}

.skeleton-rect {
  width: 100%;
  margin: 10px;
  height: 40px;
  background-color: #f6f6f6;
  position: relative;
  overflow: hidden;
}

.horizontal-flex .skeleton-rect {
  width: calc(100% - 120px);
}

.skeleton-rect::before {
  content: '';
  display: block;
  position: absolute;
  left: -450px;
  top: 0;
  height: 100%;
  width: 450px;
  background: linear-gradient(to right, transparent 0%, #fff 50%, transparent 100%);
  animation: load 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
}

@keyframes load {
  from {
    left: -150px;
  }
  to {
    left: 100%;
  }
}

.round-container {
  width: 100%;
  padding: 24px 24px 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border: solid 1px rgba(112, 112, 112, 0.4);
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.round-container h2 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
  color: #3C3C3C;
  text-transform: capitalize;
}

.mat-input-prefix {
  width: 16px;
  margin-left: 5px;
  margin-right: 5px;
  transform: translateY(-2px);
}

.round-btn {
  border: solid rgba(106, 106, 106, 0.4) 1px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 3px;
  background-color: #fff;
  width: 100px;
  color: var(--color-text-casual);
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  height: 25px;
  outline: none;
  transition: all 200ms linear;
}

.round-btn:hover {
  background-color: #f6f6f6;
  transition: all 200ms linear;
}

.questions-btn:hover {
  background-color: #3ca2f1;
  transition: all 200ms linear;
}

.questions-btn {
  background-color: #3CACFE;
  border-color: #3CACFE;
  height: 35px;
  width: 190px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.round-buttons {
  align-items: flex-start;
  justify-content: space-between;
}

.vertical-flex {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.questions-container {
  font-size: 12px;
  font-weight: 400;
  color: rgba(106, 106, 106, 0.5);
  letter-spacing: 1px;
  margin: 0;
}

.round-btn-sm {
  height: 90px;
  justify-content: space-around;
  flex-direction: column-reverse;
  padding-bottom: 10px;
}

.contest-details {
  width: 100%;
  padding: 24px 24px 12px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border: solid 1px rgba(112, 112, 112, 0.4);
  border-radius: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.06) 0 3px 5px;
  position: relative;
}

.head-section {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 110px;
  justify-content: flex-start;
}

.avatar-container {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: solid #aaaaaa 1px;
  position: relative;
  overflow: hidden;
}

.title-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-grow: 1;
  margin-left: 30px;
}

.title-section mat-label {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--color-header-soft);
}

.title-section input {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--color-header-h1);
}

.avatar-container img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.avatar-container:hover .avatar-change {
  opacity: 1;
  transition: all 100ms linear;
}

.avatar-change {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--color-text-casual);
  font-size: 14px;
  opacity: 0;
  transition: all 100ms linear;
  cursor: pointer;
}

.desc-editor {
  width: 100%;
}

.desc-header {
  align-self: flex-start;
  margin-left: 10%;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--color-header-soft);
  transform: translateY(5px);
}

.datetime-picker {
  width: 300px;
  margin-right: 25px;
  max-width: 100%;

}

.mat-form-field {
  outline: none !important;
  font-family: 'Baloo Tamma 2', cursive;
}

.mat-option-prefix {
  width: 16px;
  border-radius: 8px;
  height: 16px;
  float: left;
  transform: translateY(15px);
  margin-right: 5px;
}

.status-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 30px;
  flex-direction: row;
  border-radius: 10px;
  border: solid 1px rgba(112, 112, 112, 0.4);
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 12px;
  color: #67879E;
  text-transform: capitalize;
  padding: 6px 12px;
  justify-self: flex-start;
}

.status-color {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin-right: 8px;
}

.contest-bottom-buttons {
  justify-content: space-between;
  width: 100%;
}

.main-action-btn {
  height: 32px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 14px;
  margin-left: 16px;
  border:none;
  cursor: pointer;
  outline: none;
  translate: all 100ms linear;
}

.main-action-btn:hover {
  opacity: .8;
  translate: all 100ms linear;
}

.sm-btn-margin{
  margin-top: 10px;
  margin-bottom: 10px;
}

.save-btn {
  border: solid 1px rgba(112, 112, 112, 0.4);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  border-radius: 10px;
  padding: 8px 12px !important;
  transition: all 100ms linear;
}

.save-btn img {
  height: 16px;
  transform: translateY(-2px);
}

.save-btn:hover {
  background-color: #aaa;
  transition: all 100ms linear;
}

