<div class="uploader-root">

  <form [formGroup]="newPassFromGroup"
        (ngSubmit)="onSubmitChangePassword(newPassFromGroup.value)" class="form">

    <mat-form-field style="margin-bottom: 13px">
      <mat-label>Old Password</mat-label>
      <img class="mat-input-prefix" src="../../../assets/images/ic-feather-lock.svg" matPrefix>
      <input matInput formControlName="password" type="password" #oldPassword>
      <mat-error>
        {{ getErrorPassword() }}
      </mat-error>
    </mat-form-field>

    <mat-form-field style="margin-bottom: 13px">
      <mat-label>New Password</mat-label>
      <img class="mat-input-prefix" src="../../../assets/images/ic-feather-lock.svg" matPrefix>
      <input matInput formControlName="newPassword" type="password" >
      <mat-hint>At least 8 characters, 1 uppercase letter and 1 number</mat-hint>
      <mat-error>
        {{ getErrorPasswordNewPass() }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Re-enter Password</mat-label>
      <img class="mat-input-prefix" src="../../../assets/images/ic-feather-lock.svg" matPrefix>
      <input matInput formControlName="reNewPassword" type="password">
      <mat-error>
        {{ getErrorRePasswordNewPass() }}
      </mat-error>
    </mat-form-field>
    <button class="submit-button" type="submit" mat-raised-button
            [disabled]="!newPassFromGroup.valid && newPassFromGroup.touched">Reset Password
    </button>

  </form>
</div>
