*{
  font-family: 'Baloo Tamma 2', cursive;
}

.circle {
  height: 16px;
  width: 16px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;
}
.text {
  margin: 2px;
  color : var(--color-text-casual);
  size : 16px;
  font-weight: 600;
  letter-spacing: 1px;
  transform: translateY(1px);
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: fit-content;
  border: solid #707070 0.5px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 10px;
}
