*{
  font-family: 'Baloo Tamma 2', cursive;
}

.subject-circle {
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin: 2px;
}

.subject-text {
  margin: 2px;
  color : var(--color-text-casual);
  size : 15px;
  font-weight: 600;
  letter-spacing: 1px;
  transform: translateY(1px);
}
.subject-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: fit-content;
  border: solid #707070 0.5px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 10px;
  background-color: #fff;
  min-width: 28px;
}

.subject-circle-sm {
  height: 8px;
  width: 8px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin: 1px;
}

.subject-text-sm {
  margin: 1px;
  color : var(--color-text-casual);
  font-size : 10px!important;
  font-weight: 600;
}

.subject-content-sm {
  border: solid #707070 0.5px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 5px;
  background-color: #fff;
  min-width: 16px;
}
