*{
  font-family: 'Baloo Tamma 2', cursive;
}

.app-container{
  height: 100%;
  width: 100%;
  margin:0;
  padding:0;
  position: relative;
}

#logo{
  height: 100%;
}

.logo-container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 22px;
}

.logo-container p{
  font-size: 30px;
  color: var(--color-header-soft);
  text-transform: capitalize;
  letter-spacing: 4px;
  margin:0;
  font-weight: 600;
}

.menu-icon{
  margin-right: 3%;
  color: black;
  cursor: pointer;
  height: 70%;
}

.header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*border-bottom: solid #aaa 1px;*/
  background-color: #fff;
  box-shadow: #ccc 0 1px 8px;
  height: 65px;
  overflow: visible;
  position: fixed;
  padding-left: 10%;
  padding-right: 10%;
  top:0;
  left: 0;
  z-index: 99;
}

.page-content{
  background-color: rgba(0,0,0,0);
}

.page-container{
  transform: translateY(65px);
  height: calc(100% - 65px);
  /*height: 100%;*/
  width: 100%;
}

