@media (max-width: 1200px) {

  .left-panel {
    position: relative;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    max-height: none !important;
  }

  .question-content {
    width: 100% !important;
  }

  .right-panel {
    width: 80% !important;
    margin-left: 10%;
    margin-right: 10%;
  }

  .question-details {
    padding: 10px;
  }

  .question-option :nth-child(1) {
    order: 1;
  }

  .question-option :nth-child(3) {
    order: 1;
  }

  .question-option :nth-child(2) {
    order: 2;
  }

  .question-grid {
    grid-template-columns: 78px 78px 78px !important;
  }

  .subject {
    margin-left: 10px;
  }

}

.right-panel {
  width: calc(100% - 450px);
}

.left-panel {
  position: sticky;
  max-height: calc(100vh - 115px);
  top: 50px;
  padding-bottom: 100px;
  right: 0;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.left-panel::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.profile-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  padding-top: 50px;
}

.question-content {
  width: 85%;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

mat-label {
  font-family: 'Baloo Tamma 2', cursive;
}

mat-form-field {
  width: 100%;
}

.skeleton {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.skeleton-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #eee;
  margin: 10px;
}

.horizontal-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 5px;
  width: 100%;
}

.skeleton-rect {
  width: 100%;
  margin: 10px;
  height: 40px;
  background-color: #f6f6f6;
  position: relative;
  overflow: hidden;
}

.horizontal-flex .skeleton-rect {
  width: calc(100% - 120px);
}

.skeleton-rect::before {
  content: '';
  display: block;
  position: absolute;
  left: -450px;
  top: 0;
  height: 100%;
  width: 450px;
  background: linear-gradient(to right, transparent 0%, #fff 50%, transparent 100%);
  animation: load 1s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
}

@keyframes load {
  from {
    left: -150px;
  }
  to {
    left: 100%;
  }
}

.vertical-flex {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--color-header-soft);
  margin-bottom: 8px;
  margin-top: 26px;
}

.sector {
  width: 100%;
  padding: 16px;
  border: solid 1px rgba(112, 112, 112, 0.4);
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.06) 0 3px 5px;
  position: relative;
  overflow: visible;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: capitalize;
  line-height: 22px;
  margin: auto auto auto 0;
  color: var(--color-header-soft);
  width: fit-content;
}

mat-form-field, mat-option {
  font-family: 'Baloo Tamma 2', cursive;
}

.avatar-container {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: solid #aaaaaa 1px;
  position: relative;
  overflow: hidden;
}


.avatar-container img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.avatar-container:hover .avatar-change {
  opacity: 1;
  transition: all 100ms linear;
}

.avatar-change {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--color-text-casual);
  font-size: 14px;
  opacity: 0;
  transition: all 100ms linear;
  cursor: pointer;
}

.info-fullname {
  margin: 0;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--color-header-h1);
  text-align: left;
  width: 100%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-username {
  margin: 0;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--color-text-casual);
  text-align: left;
  width: 100%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-grid {
  display: grid;
  grid-template-columns: 35px auto;
  grid-gap: 20px;
  width: calc(100% - 16px);
  margin: 8px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-grid p {
  margin: 0;
  font-size: 20px;
  width: 100%;
  font-weight: 400;
  color: #707070;
}

.subject-points {
  color: var(--color-text-casual);
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.subject-points p {
  font-size: 24px;
  color: #FFB000;
  letter-spacing: 3px;
  font-weight: 700;
  margin: 0 0 0 5px;
}

.subject-list {
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.subject-item {
  margin: 8px;
  cursor: pointer;
}

.edit-icon {
  height: 35px;
  position: absolute;
  right: 0;
  top: 0;
  border: solid #707070 0.5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: #fff;
  min-width: 28px;
  transform: translate3d(-10px, -20px, 0);
  display: flex;
  cursor: pointer;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  text-transform: capitalize;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--color-text-casual);
  line-height: 22px;
}

.category-dropdown {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px;
  background-color: #fff;
  transform: translate3d(20px, -30px, 0);
  color: var(--color-text-casual);
  width: 200px;

  border: solid #707070 0.5px;
  padding: 0 10px;
}

.past-contest img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin: 0 12px 0 0;
}

.past-contest h4 {
  color: var(--color-header-h1);
  letter-spacing: 1px;
  font-size: 26px;
  font-weight: 600;
  width: calc(100% - 85px);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
  margin-right: 6px;
}

.subject-container {
  width: 100px;
  height: 15px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate3d(-40px, -10px, 0);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
}

.subject {
  margin-left: 20px;
}

.profile-info-sector {
  display: inline-grid;
  grid-template-columns: min-content auto;
  grid-column-gap: 26px;
  grid-row-gap: 12px;
  margin-bottom: 10px;
  padding-left: 30px;
  width: 100%;
}

.profile-info-sector p {
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 600;
  color: #3d596f;
  white-space: nowrap;
  margin: auto 0 auto auto;
  min-height: 30px;
}

.profile-info-sector mat-form-field{
  color: #6A6A6A;
  min-height: 30px;
}
