<div class="container" [routerLink]="'/contest/' + data.id ">
  <img id="user-logo" [src]="data.imageUrl"/>
  <div class="text-container">
    <h1 id="item-title" [title]="data.title"> {{data.title}}</h1>
    <div id="item-body" [innerHTML]="data.body"></div>
  </div>
  <div class="right-panel">
    <div class="horizontal-flex">
      <div class="right-item" title="people registered">
        <img src="../../../assets/images/ic-material-people.svg">
        <p>{{data.registeredCount.toLocaleString()}}</p>
      </div>
      <div class="right-item" title="duration">
        <img class="timer" src="../../../assets/images/ic-material-timer.svg">
        <p>{{data.nextContestDuration}} min</p>
      </div>
    </div>
    <div class="right-item" title="contest time">
      <img src="../../../assets/images/ic-material-today.svg">
      <p>{{getFormattedDateTime(data.nextContestStart)}}</p>
    </div>
    <div class="register-button-container">
      <button class="unregistered" (click)="register($event)">register</button>
      <p id="register-countDown">
        <countdown *ngIf="timeLeft < 86400" [config]="{ leftTime: this.timeLeft, format: 'h:m:s' }"></countdown>
        <ng-container *ngIf="timeLeft >= 86400" >
          {{floor(timeLeft/86400)}} day(s)
        </ng-container>
        left.
      </p>
    </div>
  </div>
  <div class="subject-container">
    <app-subject-tag *ngFor="let subject of data.subjects.slice(0,2)" [subject]="subject"
                     class="subject"></app-subject-tag>
    <app-subject-tag *ngIf="data.subjects.length > 2" [isMoreTag]="true"
                     [moreSubjects]="data.subjects.slice(2)"></app-subject-tag>
  </div>
</div>
