* {
  font-family: 'Baloo Tamma 2', cursive;
}

@media (max-width: 700px) {

  .subject {
    margin-left: 10px !important;
  }

  #user-logo {
    width: 50px !important;
    height: 50px !important;
    margin-right: 10px !important;
  }

  .item-container {
    flex-direction: column!important;
  }

  .text-container{
    display: none!important;
  }

  .right-item p {
    font-size: 14px!important;
  }

}

.sm-header{
  width: 100%;
}

.sm-header h1{
  font-size: 18px!important;
}

.item-container {
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  height: fit-content;
  margin-bottom: 35px;
  box-shadow: #eee 1px 2px 5px;
  padding: 18px 12px 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  outline: none;
  border: solid 1px #b7b7b7;
  min-height: 140px;
  position: relative;
}

#user-logo {
  width: 70px;
  height: 70px;
  border-radius: 45px;
  margin-right: 15px;
  border: solid #707070 1px;
}

.text-container {
  width: calc(100% - 370px);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.right-panel {
  width: 250px;
  margin-left: 9px;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 20px;
}

.item-title {
  color: var(--color-header-h1);
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

#item-body {
  color: var(--color-text-casual);
  font-size: 15px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.subject-container {
  width: 100px;
  height: 15px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate3d(-40px, -10px, 0);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
}

.subject {
  margin-left: 20px;
}

.horizontal-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 5px;
}

.right-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}

.right-item p {
  font-size: 16px;
  color: var(--color-text-casual);
  letter-spacing: 1px;
  font-weight: 500;
  margin: 5px 0 0;
}

.right-item img {
  width: 24px;
  margin-right: 10px;
}

.timer {
  width: 20px !important;
}

.register-button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  flex-direction: column;
}

.register-button-container button {
  border-radius: 9px;
  border: solid 1px #707070;
  color: var(--color-header-soft);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 16px;
  font-weight: 600;
  padding: 3px 30px;
  cursor: pointer;
  outline: none;
}

.unregistered button:hover {
  background-color: #eee;
  transition: 500ms linear all;
}

.unregistered {
  background-color: #fff;
  transition: 500ms linear all;
}

.registered {
  background-color: #6EEB83;
  animation: register-animation 300ms ease-out;
}

@keyframes register-animation {

  0% {
    background-color: #eee;
  }

  100% {
    background-color: #6EEB83;
  }

}

#register-countDown {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  color: var(--color-header-soft);
  opacity: 65%;
  letter-spacing: 3px;
}
