@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;300;600;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700;800&display=swap');
@import '~@angular/material/theming';

@include mat-core();

$olympo-amber: (
  50: #67879E,
  100: #67879E,
  200: #67879E,
  300: #67879E,
  400: #67879E,
  500: #67879E,
  600: #67879E,
  700: #67879E,
  800: #67879E,
  900: #67879E,
  A100: #67879E,
  A200: #67879E,
  A400: #67879E,
  A700: #67879E,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

$app-primary: mat-palette($olympo-amber);
$app-accent:  mat-palette($mat-grey, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);
:root {
  --color-primary: #{mat-color($app-primary)};
  --color-accent: #{mat-color($app-accent)};
  --color-warn: #{mat-color($app-warn)};

  --color-header-soft: #{#6A6A6A}
}

html, body{
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
  background-color: #FBFBFB;

}

.ck-media__wrapper {
  width: 60% !important;
  height: 60% !important;
 }

