<div class="menu-container" style="flex-direction:{{direction}}">
  <a class="item item-absolute" (click)="getUpcomingOrBoard()">
    <img class="icon" src="../../../assets/images/ic-upcoming-contest.svg">
    <div [hidden]="upcomingContestId === -1" class="red-notif"></div>
  </a>
  <a class="item" [routerLink]="'profile'">
    <img class="profile-icon"
         [routerLink]="'/profile'"
         [src]="configService.currUser !== undefined? configService.currUser.profileImageUrl : '../../../assets/images/default-avatar.png'">
  </a>
  <a class="item" (click)="logout()">
    <img class="icon" src="../../../assets/images/ic-logout.svg">
  </a>
</div>
