.menu-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.icon {
  height: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.profile-icon {
  height:35px;
  margin-left: 15px;
  margin-right: 15px;
  transform: translateY(-3px);
  border-radius: 50%;
}

.item{
  height: 35px;
  cursor: pointer;
}

.red-notif{
  color: #E95F5F;
  transform: translate3d(20px, 20px);
  height: 4px;
  width: 4px;
  z-index: 15;
}
